.skills__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
  }
  
  .skills__content {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2rem;
    border-radius: 1.25rem;
    transition: 0.3s ease;
  }
  
  .skills__content:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
  }
  
  .skills__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    text-align: center;
    margin-bottom: var(--mb-1-5);
    color: var(--title-color-dark);
  }
  
  .skills__box.single-column {
    display: flex;
    justify-content: center;
  }
  
  .skills__group {
    display: grid;
    row-gap: 1rem;
  }
  
  .skills__data {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
  }
  
  .skills__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
  }
  
  .skills .bx-badge-check {
    font-size: 1.2rem;
    color: var(--title-color);
  }
  
  /* Responsive tweaks */
  @media screen and (max-width: 768px) {
    .skills__container {
      grid-template-columns: 1fr;
    }
  }
  